.divdetails{
    background-color: #ccc;
}

button{


    background-color: aquamarine;
    padding: 80px 20px;
    border: #ccc;
    /* text-align: center; */
    color: blue;
    /* //text color */
    /* display: inline-block; */
    font-size: 60px;
    text-decoration: none;
    font-family:fantasy
}